@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --electric-blue: #007BFF;
  --deep-charcoal: #2C2C2C;
  --white: #FFFFFF;
  --golden-yellow: #FFC107;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--deep-charcoal);

font-family: "Inter", sans-serif;
}

button,
input,
textarea {
  font: inherit;
}